Read in data from the reshape2 package by Hadley Wickham.

In [2]:
import pandas as pd
tips = pd.read_csv("https://www.dropbox.com/s/sidhaoro98iej0j/tips.csv?raw=1", index_col=0)
tips['tip_pct'] = tips["tip"]/tips['total_bill']
print(tips.head())

   total_bill   tip     sex smoker  day    time  size   tip_pct
1       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
2       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
3       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
4       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
5       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

A pivot table using time and sex as the index and the columns as smoker. The values of the table will be the percentage tipped.

In [3]:
tips.pivot_table(values='tip_pct', index=['time', 'sex'], columns='smoker')

smoker               No       Yes
time   sex
Dinner Female  0.156774  0.185142
       Male    0.159360  0.148929
Lunch  Female  0.157091  0.175270
       Male    0.165706  0.166662

This pivot table has the values still as tip percentage but now the index is the day and time with the columns being the sex of the diner.

In [4]:
tips.pivot_table(values='tip_pct', index=['day', 'time'], columns='sex')

sex            Female      Male
day  time
Fri  Dinner  0.199115  0.130203
     Lunch   0.199731  0.174144
Sat  Dinner  0.156470  0.151577
Sun  Dinner  0.181569  0.162344
Thur Dinner  0.159744       NaN
     Lunch   0.157453  0.165276

The pivot table is a dataframe so it can be copied/saved and all the normal dataframe functions are avaliable.

In [5]:
table = tips.pivot_table(values='tip_pct', index=['day', 'time'], columns='sex')
table.ix['Fri']

sex       Female      Male
time
Dinner  0.199115  0.130203
Lunch   0.199731  0.174144

The normal aggregate function is the mean but other functions can be applied.

In [6]:
pd.pivot_table(tips, values='tip_pct', index='sex', columns='smoker', aggfunc=len)

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [7]:
table = pd.pivot_table(tips, 'tip_pct', index=['sex', 'day'], columns='smoker', aggfunc=len)
table

smoker       No  Yes
sex    day
Female Fri    2    7
       Sat   13   15
       Sun   14    4
       Thur  25    7
Male   Fri    2    8
       Sat   32   27
       Sun   43   15
       Thur  20   10

You can also pass a dictionary to the agg function

In [8]:
pd.pivot_table(tips, index=['sex', 'smoker'], aggfunc={'tip_pct' : 'mean', 'size' : 'sum'})

               size   tip_pct
sex    smoker
Female No       140  0.156921
       Yes       74  0.182150
Male   No       263  0.160669
       Yes      150  0.152771

In [9]:
t = pd.pivot_table(tips, index=['sex', 'smoker'], aggfunc={'tip_pct' : 'mean', 'size' : 'sum'})
t

               size   tip_pct
sex    smoker
Female No       140  0.156921
       Yes       74  0.182150
Male   No       263  0.160669
       Yes      150  0.152771